<%- include('../partials/head') %>
    <h1>Listado de productos</h1>
    <section class="products">
        <article class="product">
            <h3>Título</h3>
            <p class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, dolorum facere, sunt, velit ipsum porro architecto eius fuga enim mollitia ea? Doloribus nostrum tempore sint laudantium officiis reprehenderit debitis velit!</p>
            <p class="price">$ 12312</p>
        </article>
        <article class="product">
            <h3>Título</h3>
            <p class="desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, delectus? Numquam iure aperiam ducimus voluptas sapiente fuga, debitis omnis commodi, praesentium cumque culpa laudantium, enim inventore esse dolor adipisci amet?</p>
            <p class="price">$ 42312</p>
        </article>
        <article class="product">
            <h3>Título</h3>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur minima, sunt ipsum, natus quo sapiente aut, quasi hic ducimus vero eveniet reprehenderit. Explicabo ut reprehenderit magnam. Quas quod quae hic.</p>
            <p class="price">$ 32312</p>
        </article>
        <article class="product">
            <h3>Título</h3>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur minima, sunt ipsum, natus quo sapiente aut, quasi hic ducimus vero eveniet reprehenderit. Explicabo ut reprehenderit magnam. Quas quod quae hic.</p>
            <p class="price">$ 32312</p>
        </article>
        <article class="product">
            <h3>Título</h3>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur minima, sunt ipsum, natus quo sapiente aut, quasi hic ducimus vero eveniet reprehenderit. Explicabo ut reprehenderit magnam. Quas quod quae hic.</p>
            <p class="price">$ 32312</p>
        </article>
    </section>
    
<%- include('../partials/footer') %>