/* Estilos generales*/

/* https://coolors.co/d8a47f-ef8354-ee4b6a-df3b57-0f7173 */

:root {
    --border-radius: .5rem;
    --padding: 1rem;
}

* { box-sizing: border-box; }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #e9f2f2;
    font-family: sans-serif;
}

a { 
    color: inherit;
    text-decoration: inherit;
}

/* Clases de ayuda */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.main-container {
    flex-grow: 1;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.message {
    background-color: white;
    border-radius: var(--border-radius);
    padding: var(--padding);
}

.message.error-message {
    background-color: #ee4b6a;
    color: white;
}

.actions {
    padding-top: 1rem;
}

.button {
    display: inline-block;
    padding: var(--padding);
    background-color: #0f7173;
    color: white;
    border-radius: var(--border-radius);
    border: 0;
    cursor: pointer;
}

/* Componentes principales */

header,
footer {
    background-color: #ee4b6a;
    color: white;
}

header a,
footer a{
    display: inline-block;
    padding: .5rem;
    color: white;
}

/* Estilos de cada página */

/* Productos */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products::after {
    content: "";
    flex-grow: 1;
}

.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin: 1rem .5rem
}

.product .desc {
    flex-grow: 1;
}

.product .price {
    color: #0f7173;
    font-size: 2rem;
    margin: 0.5rem 0;
    border-top: 1px solid #0f7173;
    padding: .5rem 0 0;
}

@media (min-width: 768px) {
    .products .product {
        width: calc(25% - 1rem);
    }
}