<%- include('./partials/head') %>
    <h1>Acerca de nosotros</h1>
    <section class="about">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus eaque atque consequatur debitis culpa dolorum ipsum labore, iure odit beatae nisi ut ab facere voluptatibus eveniet magnam sit illo molestias!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatem, eos voluptas tempora repellendus quia sit nemo possimus dolorem enim officiis modi excepturi a eum. Libero ratione culpa perspiciatis labore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro esse consequatur, quisquam repellat rem aspernatur voluptates beatae odio. Asperiores facere autem eligendi dolore tempora amet molestias facilis? Nesciunt, assumenda! Quibusdam.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad iure corporis officiis velit itaque ipsa earum? Beatae eum commodi doloribus asperiores neque molestiae debitis recusandae iste! Enim odit sed deleniti.</p>
    </section>
<%- include('./partials/footer') %>