<%- include('./partials/head') %>
    <h1>Preguntas frecuentes</h1>
    <section class="questions">
        <article>
            <h3>Primera pregunta</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, dolorum facere, sunt, velit ipsum porro architecto eius fuga enim mollitia ea? Doloribus nostrum tempore sint laudantium officiis reprehenderit debitis velit!</p>
        </article>
        <article>
            <h3>Segunda pregunta</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, delectus? Numquam iure aperiam ducimus voluptas sapiente fuga, debitis omnis commodi, praesentium cumque culpa laudantium, enim inventore esse dolor adipisci amet?</p>
        </article>
        <article>
            <h3>Tercera pregunta</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur minima, sunt ipsum, natus quo sapiente aut, quasi hic ducimus vero eveniet reprehenderit. Explicabo ut reprehenderit magnam. Quas quod quae hic.</p>
        </article>
    </section>
    
<%- include('./partials/footer') %>