<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON CRUD con Node y Express</title>
</head>
<body>
    <h1>Página principal</h1>
    <p>Si llegamos acá, Express está funcionando correctamente.</p>
</body>
</html>