<%- include('./partials/head') %>
    <h1>Página principal</h1>
    <section class="index">
        <p>Bienvenidos a nuestro sitio hecho con Node y Express.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus consectetur unde dicta dolor minus voluptas corrupti at nam modi. Quibusdam nulla fugiat itaque repellendus? Nulla doloribus placeat odio deserunt corporis.</p>
    </section>
<%- include('./partials/footer') %>