        
    </div>
    <footer>
        <div class="container">
            <nav>
                <a href="/">Página Principal</a>
                <a href="/acerca-de">Acerca de</a>
                <a href="/preguntas-frecuentes">Preguntas Frecuentes</a>
            </nav>
        </div>
    </footer>
</body>
</html>