<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title>JSON CRUD con Node y Express</title>
</head>
<body>
    <header>
        <div class="container">
            <%- include('main-nav') %>
            <%- include('user-nav') %>
        </div>
    </header>
    <div class="container main-container">
