<nav class="user-nav">
    <a href="/usuarios/nuevo">Registrarse</a>
    <a href="/usuarios/ingresar">Ingresar</a>
    <a href="/usuarios/perfil">Perfil</a>
    <a href="/usuarios/salir">Salir</a>
</nav>