<%- include('../partials/head') %>
    <section class="product-detail">
        <div class="container form-container">
            <h1 class="title">Nuevo usuario</h1>
            <form action="/usuarios" method="POST" enctype="multipart/form-data">
                <%- include('./partials/formFields'); %>
                <p class="buttons">
                    <button type="submit" class="button is-primary">Crear usuario</button>
                </p>
            </form>
        </div>
    </section>
<%- include('../partials/footer') %>